body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* Nav related style */
span{
    color:#FD6E0A ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.common-btn{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 35px;
    border-radius: 10px;
}
.common-btn:hover{
    font-size: x-large;
}
.logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
 nav > div >ul{
    display: flex;
    align-items: center;
} 
nav div li{
    list-style: none;
    margin-right:50px ;
}
nav a{
    text-decoration: none;
    color:#181818 ;
}
.header{
    background-color: #FFF8F3;
}
/* banner side style  */
.banner{
    display: flex;
    padding: 0px 30px 0px 100px;
    align-items: center;
    justify-content: space-around;
    background: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.profile-pic{
    width: 451px;
    bottom: o;
}
.intro{
    font-size: 35px;
    color: #474747;
    margin-bottom: 0;
}
.full-name{
    font-size: 60px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
/* about me section style  */
.about-side{
    padding: 100px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 100px o;
}
main .about-side{
    max-width: 700px;
    margin: 0 auto;
}
.about-me{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    
}
.about-section{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
section{
    margin-bottom: 80px;
}
.about-info-area{
    display: flex;
    justify-content: space-around;
}
.about-info{   
    text-align: center;
}
.info-title{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
/* what i do section style  */
.what-i-do-title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    
}
.what-i-do-description{
    padding: 20px 200px;
    color: dimgray;
}
.skills-area-box{
    display: flex;
    justify-content: space-around;
    padding: 0 70px;
    gap: 20px;
}
.skills-area{
    padding: 40px;
    border-radius: 10px;
    background: #FFF8F3;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    text-align: justify;
}   
.skills-title{
    color: brown;
} 
.skills-description{
    color: dimgray;
}
/* resume section style */

.resume-title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.resume-half-area-title{
    text-align: center;
    color: brown;
    font-size: 30px;
    font-weight: 700;
}
.resume-item-area{
    background: #FFF8F3;
}
.resume-area{
    display: flex;
    padding: 0px 130px;
    gap: 60px;
}
.resume-area hr{
    margin: 30px 0;
}
.resume-item-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;

}
.resume-item-university{
    font-size: 15px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-description{
    color: #474747;
}
.btn-center{
    text-align: center;
    margin-top: 50px;
}
/* footer section area style */
footer{
    background: #FFF8F3;
}
.footer-area{
    display: flex;
    gap: 70px;
    margin: 30px 200px;
    
}
.contact-form input,textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 10px;
    background: whitesmoke;
    border: 0px;
    
}
.footer-half-area-title{
    text-align: center;
}
.footer-half-area-description{
    color: dimgray;
    font-weight: 400;
}